# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build artifacts
dist/
build/
*.map

# OS files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# Misc
*.bak
*.tmp
*.coverage
coverage/
htmlcov/
*.egg-info/
.eggs/
